
@{
    ViewData["Title"] = "Đây là web của Tamphan tự viết";
}
<h2>@ViewData["Title"]</h2>
<p>Đây là View MVC đầu tiên do tôi tạo.</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
