@{
    ViewData["Title"] = "Đây là web của Tamphan tự viết sau khi tự học ASP.NET MVC";
}
@model List<User>;
<h2>@ViewData["Title"]</h2>
<p>Creator: Tamphan</p>
<h3>Các tùy chọn công việc:</h3>
<p>Tạo hợp đồng/Thỏa thuận hợp tác <a href="https://learn.microsoft.com/aspnet/core">GO</a>.</p>
<p>Đăng nhập web điện lực: <a href="https://cskh.evnspc.vn/TaiKhoan/DangNhap?previousLink=/TraCuu/HoaDonTienDien">Go CSKH EVNSPC</a>.</p>
<div class="text-center">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
